.edit-enter {
  opacity: 0.01;
  transform: translateY(-10%);

  &.edit-enter-active {
    opacity: 1;
    transform: translateY(0%);
    transition: opacity 100ms ease-in, transform 100ms linear;
  }
}

.edit-leave {
  opacity: 1;
  transform: translateY(0%);

  &.edit-leave-active {
    opacity: 0.01;
    transform: translateY(-5%);
    transition: opacity 100ms ease-out, transform 100ms linear;
  }
}

.post-appear {
  opacity: 0.01;
  transform: translateY(5%);

  &.post-appear-active {
    opacity: 1;
    transform: translateY(0%);
    transition: opacity 200ms ease-in, transform 200ms linear;
  }
}

.navbar-appear {
  transform: translateY(-100%);

  &.navbar-appear-active {
    transform: translateY(0%);
    transition: transform 100ms linear;
  }
}

.modal-enter {
  & > .modal-content, & > .modal-background {
    opacity: 0.01;
  }

  & > .modal-content {
    transform: scale(1.1);
  }

  &.modal-enter-active {
    & > .modal-background {
      opacity: 1;
      transition: opacity 150ms ease-in;
    }

    & > .modal-content {
      opacity: 1;
      transform: scale(1);
      transition: opacity 150ms ease-in, transform 150ms linear;
    }
  }
}

.modal-leave {
  & > .modal-content, & > .modal-background {
    opacity: 1;
  }

  & > .modal-content {
    transform: scale(1);
  }

  &.modal-leave-active {
    & > .modal-background {
      opacity: 0.01;
      transition: opacity 100ms ease-in;
    }

    & > .modal-content {
      opacity: 0.01;
      transform: scale(0.9);
      transition: opacity 100ms ease-in, transform 100ms ease-out;
    }
  }
}

.input,
.textarea {
  transition: box-shadow 200ms linear;
}

.button {
  transition: background-color 100ms linear, color 100ms linear;
}
